@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/**
* Additional CSS Style Sheets
*/
@import "./form.css";

/* @config '../../tailwind.config.js'; */

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

.pointer {
    cursor: pointer;
}

.mask-field {
    @apply blur-xs hover:blur-none;
}

/**
* Base styles applied to all pages
*/
@layer base {
    a {
        @apply hover:font-semibold;
    }

    h1 {
        @apply text-3xl! font-bold;
    }

    h2 {
        @apply text-2xl! font-bold;
    }

    h3 {
        @apply text-xl! font-bold;
    }

    h4 {
        @apply text-lg! font-bold;
    }

    h5 {
        @apply font-bold;
    }

    h6 {
        @apply text-sm! font-bold;
    }

    blockquote {
        @apply p-4 my-4 border-s-4;
    }

    code {
        @apply bg-slate-800/90 text-white font-mono whitespace-pre select-none px-1;
    }

    .text-success {
        @apply text-green-500;
    }

    .text-warning {
        @apply text-yellow-500;
    }

    .text-muted {
        @apply text-slate-500;
    }

    .text-error {
        @apply text-red-900;
    }

    .text-danger {
        @apply text-red-600;
    }
}

/**
* Separation line with text in middle
*/
div.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;

    &::before,
    &::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #7b7a7a;
    }

    &:not(:empty)::before {
        margin-right: 0.25em;
    }

    &:not(:empty)::after {
        margin-left: 0.25em;
    }
}

.tb-tooltip {
    position: fixed;
    padding: 0.45rem 0.75rem;
    border-radius: 0.4rem;
    background: rgb(20 20 20);
    color: white;
    font-size: 0.85rem;
    white-space: nowrap;
    transition:
        opacity 0.15s,
        transform 0.15s;
    opacity: 0;
    z-index: 9999;
}

.tb-tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #333;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.tb-tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: rgb(20 20 20);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.tb-tooltip-left::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 100%;
    transform: translateX(1%);
    width: 10px;
    height: 10px;
    background: rgb(20 20 20);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.tb-tooltip-right::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 100%;
    transform: translateX(1%);
    width: 10px;
    height: 10px;
    background: rgb(20 20 20);
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
